footer{
    background-color: rgb(211, 59, 211);
    height: 40px;
    color: white;
    padding: 0 10px;
    position: relative;
  bottom: 0;
  width: 100%;

}

footer ul{
    list-style: none;
}

footer ul li{
    margin-top: 0;
}

.uk-background-primary{
    background-color: rgb(211, 59, 211);
}