<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/miPerfil.css">
    <%- include("./partials/headGeneral") %> 
</head>

<body>
    <%- include("./partials/header") %> 

    <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade uk-background-default" uk-height-viewport>
        <div class="uk-width-1-1">
            <div class="uk-container">
                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                    <div class="uk-width-1-1@m">
                        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                            <h3 class="uk-card-title uk-text-center" style="font-family: 'Poppins' ,sans-serif;"> Esa no es tu pregunta de seguridad!</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<footer>
    <%- include("./partials/footer") %> 
</footer>
</html>