/* FONTS */


/* Rules to famlies:
font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Ubuntu', sans-serif;
*/

/* FONTS */

*{
    box-sizing: border-box;
};

main{
    margin-bottom: 40px;
};


h2{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
};

h3{
    font-family: 'Poppins' ,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    color: green;
};

h3.generico{
    font-family: 'Poppins' ,sans-serif;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    color: green;
};

h4{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
};

a{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
};

.uk-background-primary{
    background-color: rgb(211, 59, 211);
}

.uk-button{
    background-color: rgb(211, 59, 211);
}

.uk-button:hover{
    background-color: rgb(126, 18, 126);
}

.uk-icon:hover{
    color: rgb(126, 18, 126);
}

a h4{
    font-family: 'Nunito', sans-serif;
}

p{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

li{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.centro{
    margin-top: 1.5%;
    text-align: center;
}

img.foto-perfil{
    width: 150px;
}

img.foto-perfil-home{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
img.foto-home{
    width: 500px;
}

img.foto-detalle{
    width: 30px;
}

a:hover{
    color: indigo;
}
