.grid-item {
    font-family: montserrat;
    font-size: 25px;
    text-align: center;
    color: violet;

  }

  .grid-item:hover{
    background-color: rgb(143, 15, 143);
    color: black;
             } 

             
  /* .lista{

    list-style-type: none;
    padding-right: 5px;
    padding-left: 5px;
    }

    .h1general{
        color: black;
        text-align: center;
        }
*/

