<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/agregarPost.css">
    <%- include("headGeneral") %> 
</head>

<body>
    <%- //if usuarioLogueado%>
    <%- include("headerLogueado") %> 
    <% //If usuarioDeslogueado %>
    <% //include("headerDeslogueado")%>  

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="">
                    <h2>Agregar un Post</h2>

                    <article class="post uk-card-default uk-flex uk-flex-column">
                        <div class="info-usuario uk-flex ">
                            <div> <a href="http://localhost:3000/home/detalleUsuario/1">
                                <img src="https://via.placeholder.com/40" alt=""> </a>
                            </div>
                            <a href="http://localhost:3000/home/detalleUsuario/1"> <h4> Usuario</h4> </a>
                       
                        </div>
                        <div  class="post-body uk-flex uk-flex-center">
                            <img src="https://via.placeholder.com/500x600" alt="">
                        </div>
                        <div class="post-reacciones">
                            <ul class="post-icons uk-flex uk-flex-between">
                                <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                </li>
                                <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                </li>
                            </ul>
                            <div class="post-pie uk-flex">
                                <h5 class="uk-width-1-6">Usuario</h5>
                                <p class="uk-width-5-6">Escribir pie...</p>
                            </div>
                        </div>
                    </article>



                </form>

            </div>
        </div>
    </main>
    
    <%- include("footer") %> 
</body>

</html>