<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/agregarPost.css">
    <%- include("headGeneral") %> 
</head>

<body>
    <%- //if usuarioLogueado%>
    <%- include("headerLogueado") %> 
    <% //If usuarioDeslogueado %>
    <% //include("headerDeslogueado")%>  

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <form action="">
                    <h2>(Formulario para agregar un post)</h2>

                </form>

            </div>
        </div>
    </main>
    
    <%- include("footer") %> 
</body>

</html>