<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/agregarPost.css">
    <%- include("headGeneral") %> 
</head>

<body>
    <%- //if usuarioLogueado%>
    <%- include("headerLogueado") %> 
    <% //If usuarioDeslogueado %>
    <% //include("headerDeslogueado")%>  

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-center">
                <!-- <form action=""> -->
                    <h2 class="uk-flex uk-flex-center">Agregar un Post</h2>

                    <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade uk-background-default" uk-height-viewport>
                        <div class="uk-width-1-1">
                            <div class="uk-container">
                                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                                    <div class="uk-width-1-1@m">
                                        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                                            <!-- <h3 class="uk-card-title uk-text-center"></h3> -->
                                            <form>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: camera"></span>
                                                        <input class="uk-input uk-form-large" type="text" placeholder="Imagen">
                                                    </div>
                                                    <div class="uk-margin">
                                                        <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Seleccionar Foto</button>
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: comment"></span>
                                                        <input class="uk-input uk-form-large" type="text" placeholder="Insertar pie de foto">	
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">PUBLICAR</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                <!-- </form> -->

            </div>
        </div>
    </main>
    
    <%- include("footer") %> 
</body>

</html>