<footer class="uk-background-primary uk-flex uk-flex-between uk-flex-middle">
    <ul class="uk-width-1-6 uk-flex uk-flex-middle uk-flex-around uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li><a href="https://www.instagram.com/leomessi/?hl=es-la" uk-icon="instagram" target="_blank"></a></li>
        <li><a href="https://www.facebook.com/leomessi" uk-icon="facebook" target="_blank"></a></li>
        <li><a href="https://twitter.com/fundacionmessi" uk-icon="twitter" target="_blank"></a></li>
    </ul>
    <ul class="uk-width-1-3 uk-flex uk-flex-middle uk-flex-between uk-height-1-1 uk-margin-remove uk-padding-remove">
        <li>Ian Jamui</li>
        <li>Justo Mansilla</li>
        <li>Lucas Romero</li>
    </ul>
</footer>