<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/login.css">
    <%- include("headGeneral") %> 
</head>

<body>
    <%- //if usuarioLogueado%>
    <%- include("headerLogueado") %> 
    <% //If usuarioDeslogueado %>
    <% //include("headerDeslogueado")%>  

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
                <form action="" style="background-color: #f9f9f9;">


                    <!-- <h2>(Formulario de login)</h2> -->
                
                    <div class="uk-section uk-section-muted uk-flex uk-flex-middle uk-animation-fade uk-background-default" uk-height-viewport>
                        <div class="uk-width-1-1">
                            <div class="uk-container">
                                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                                    <div class="uk-width-1-1@m">
                                        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                                            <h3 class="uk-card-title uk-text-center">Bienvenido de vuelta!</h3>
                                            <form>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                                        <input class="uk-input uk-form-large" type="text">
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <div class="uk-inline uk-width-1-1">
                                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                                        <input class="uk-input uk-form-large" type="password">	
                                                    </div>
                                                </div>
                                                <div class="uk-margin">
                                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">INGRESAR</button>
                                                </div>
                                                <div class="uk-text-small uk-text-center">
                                                    ¿No tienes cuenta todavia? <a href="#">Crear cuenta</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </form>
            </div>
        </div>
    </main>

    <%- include("footer") %> 

</body>

</html>