<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
    <%- include("headGeneral") %> 

</head>

<body>
    <%- //if usuarioLogueado%>
    <%- include("headerLogueado") %> 
    <% //If usuarioDeslogueado %>
    <% //include("headerDeslogueado")%>  

    <main>
        <h1 class="h1general">Resultados de búsqueda</h1>
        <ul class="lista">
  <h3>Usuarios Encontrados</h3>
           <li><a href="http://localhost:3000/home/detalleUsuario/1"style="text-decoration: none"><div class="grid-item">Tony Montana</div> </a>  
    <li><a href="http://localhost:3000/home/detalleUsuario/1"style="text-decoration: none"><div class="grid-item">Tony Montana</div> </a>  
         <li><a href="http://localhost:3000/home/detalleUsuario/1"style="text-decoration: none"><div class="grid-item">Tony Montana</div> </a>  
        <li><a href="http://localhost:3000/home/detalleUsuario/1"style="text-decoration: none"><div class="grid-item">Tony Montana</div> </a>  
        <li><a href="http://localhost:3000/home/detalleUsuario/1"style="text-decoration: none"><div class="grid-item">Tony Montana</div> </a>  
        </li>
        </ul>
            
    </main>

   


</body>
<footer>
    <%- include("footer") %> 
</footer>
</html>