<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/stylesheets/resultadoBusqueda.css">
    <%- include("headGeneral") %> 
</head>

<body>
    <%- //if usuarioLogueado%>
    <%- include("headerLogueado") %> 
    <% //If usuarioDeslogueado %>
    <% //include("headerDeslogueado")%>  

    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center">
               
                <h2>Resultados</h2>

                <form>
                    <fieldset class="uk-fieldset">
                
                        <legend class="uk-legend">Usuarios Encontrados</legend>
                
                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Usuario 1">
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Usuario 2">
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Usuario 3">
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Usuario 4">
                        </div>

                        <div class="uk-margin">
                            <input class="uk-input" type="text" placeholder="Usuario 5">
                        </div>
                </form>        

            </div>
        </div>
    </main>

    <%- include("footer") %> 


</body>

</html>